.header {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;    /* Center content vertically */
    background-color: #e01414; /* Example background color */
    padding: 1.5rem;        /* Increase padding for a larger appearance */
    height: 50px;           /* Allow dynamic height based on content */
    color: white;           /* Ensure text is readable */
  }
  
  .header-center {
    display: flex;
    align-items: center; 
    gap: 1rem;          
  }

  
  .header h1 {
    font-size: 2.5rem;    
    font-weight: bold;    
    margin: 0;        
  }
  
  


.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ff6d6d; 
  }

 
  .about-card {
    background-color: white;
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 80%;
    max-width: 800px; 
    text-align: center;
  }
  


