body {
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), 
    url('/athens.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  padding: 20px;
  color: white;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #b20000da;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #c80505;
}

.events-section {

  padding: 40px 20px;
  color: white;
  text-align: center;
}

.events-section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.event-card {
  background-color: rgba(255, 255, 255, 0.9);
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.event-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.event-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.event-card p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

.event-image {
  border-radius: 8px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1.2rem;
  }

  .cta-button {
    font-size: 1rem;
    padding: 8px 15px;
  }

  .event-card {
    width: 90%;
  }
}
