body {
  background-color: #646464;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fe5c5b; 
  color: white; 
  display: flex;
  justify-content: space-between;  /* Distribute space between elements */
  align-items: center;             /* Vertically center the elements */
  padding: 10px 20px;
}

.header h1 {
  margin: 0;
  font-size: 1.8rem;
  display: flex;
  align-items: center;             /* Center the logo and text vertically */
}

.header-logo {
  height: 40px;                   /* Adjust logo size */
  margin-right: 10px;             /* Space between the logo and text */
}

.left-buttons,
.right-buttons {
  display: flex;                  /* Align buttons to left and right */
}

.header-button {
  background-color: #ffadad;
  color: white;
  border: none;
  padding: 10px 20px; 
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.header-button:hover {
  background-color: #ff758e; 
}

.event-header {
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin: 20px 0 10px;
}

.event-head {
  text-align: center;
  font-size: 1.3rem;
  color: #ffffff;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  padding: 20px;
}

.event-card {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center; 
}

.event-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.event-card h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  color: #333;
}

.event-card p {
  color: #555;
  font-size: 0.9rem;
  margin: 5px 0;
}

.event-card p strong {
  color: #333;
}
